.features {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}
.features h2 {
    text-align: center;
    color: #616B5F;
    font-size: 3vw;
    font-weight: 300;
}
.cont { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    padding: 2rem 3rem ;
}
.block{
    display: flex;
    max-width: 500px;
    position: relative;
}
.block img {
    transform: rotate(90deg);
    width: 200px;
  
}
.block h2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;

}
.block p {
    color: #616B5F;
}
.f{
    position: relative;
}
.f::after{
    content: '';
    position: absolute;
    border-radius: 1rem;
    z-index: -1;
    right: 1rem;
}
.f:nth-of-type(1)::after{
    width: 200px;
    height: 150px;
    background-color: #FFD8D8;
    bottom: -1rem;
}
.f:nth-of-type(2)::after{
    width: 200px;
    height: 150px;
    background-color: #F8F38C;
    top: -1rem;
}
.f:nth-of-type(3)::after{
    width: 200px;
    height: 100px;
    background-color: #F8F38C;
    top: 0;
}
.f:nth-of-type(4)::after{
    width: 150px;
    height: 100px;
    background-color: #FFD8D8;
    right: 4rem;
    top: -1rem;
}


@media (max-width: 1110px){
    .block{
        max-width: 800px;
    }
    .f::after{
        display: none;
    }
    .block p{
        font-size: 2vw;

    }
}