.cont {
    padding: 3rem;
    text-align: center;
    color: #616B5F;
    width: 100%;
}
.cont h1{
    font-weight: 400;
}
.fes {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.fe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 300px;
}

